/*https://www.cssmatic.com/*/

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc852;
  --secundario: #0097a7;
  --gris: #757575;
} /*Variables*/
html {
  font-size: 62.5%;
  box-sizing: border-box; /*Codigo para no adulterar la caja*/
  /*scroll-snap-type: y mandatory; controlar scroll*/
}

/** SCROLL SERVICIOS**/

/*.navegacion-principal,
.servicios,
.formulario {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}*/

*,
*:before,
*::after {
  /*Codigo para no adulterar la caja*/
  box-sizing: inherit;
}

body {
  font-size: 16px; /*1 rem=10px*/
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(
    to top,
    #dfe9f3 0%,
    var(--blanco) 100%
  ); /* Degradar color de abaja hacia arriba */
}

h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

.titulo span {
  font-size: 2rem;
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.sombra {
  box-shadow: 0px 5px 15px 0px rgba(150, 150, 150, 1);
  background-color: var(--blanco);
  padding: 2rem;
  border-radius: 1rem;
}

.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
}
@media (max-width: 480px) {
  .boton {
    width: 90%;
    text-align: center;
  }
}

/**UTILIDADES*/
.nav-bg {
  background-color: var(--secundario);
}



.navegacion-principal {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .navegacion-principal {
    flex-direction: column;
    align-items: center;
  }
}

.navegacion-principal a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.navegacion-principal a:hover {
  background-color: var(--primario);
  color: var(--oscuro);
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 410px;
  position: relative;
  margin-bottom: 2rem;
}

.cont-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.705);
  width: 100%;
  height: 100%;

  /*Para alinear vertical y horizontalmente*/
  display: flex; /*flex-box*/
  flex-direction: column; /*habilito aling-center para columnas*/
  align-items: center;
  justify-content: center;
}

.cont-hero h2,
.cont-hero p {
  color: var(--blanco);
}


/*CSS GRID*/

@media(min-width: 694px){
    .servicios{
        display:grid;
        grid-template-columns: repeat(3, 1fr); /*fracciones*/
        /*grid-template-columns: 300px 300px;
        grid-template-rows: 200px 800px;
        grid:200px 800px / 300px 300px;*/
        column-gap: 1rem; /*separacion de Columnas*/
    }
}


.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: normal;
    
}

.servicio p{
    line-height: 2; /*Cambia el interlineado*/
    text-align: center;
}

.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%);/* utiliza el valor mas chico*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border:none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}


.contenedor-campos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media(min-width: 480px){
    .contenedor-campos{
        display: grid;
        grid-template-columns:50% 50%;
        grid-template-rows:auto auto 20rem;
        column-gap:1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column:1/3;
    }
}
.campo{
    margin-bottom: 1rem;
    width: 100%;
}
.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: 0.5rem;
    display: block;
}

.input{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.enviar{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

@media(max-width: 480px){
    .enviar .boton{
        width: 100%;
    margin-top: 0; }
}

.boton:hover{
    cursor: pointer;
}

textarea{
    height: 20rem;
}

.footer{
    text-align: center;
}