html{
    scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.nav {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.nav-item,
a {
  text-decoration: none;
  list-style: none;
  color: black;
  padding: 15px;
}
.nav-item
a:hover {
    background-color: black;
    color: white;
    border-radius: 0.75em;
    padding: 15px;
} 
.about-us {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.text-center {
  text-align: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 900px;
  bottom: 0;
  top: 0;
  font-weight: 1000;
  font-size: 40px;
}
.products {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.box {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 53px 0px rgba(0, 0, 0, 0.75);
  border: none;
}
.icon-size {
  font-size: 50px;
}
.description {
  padding: 20px;
}
.img-color {
  filter: grayscale(100%);
}
.img-circle {
  border-radius: 5%;
}
.soluciones {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.text-solutions {
  padding-left: 50px;
  width: 800px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}
.form-group {
  margin-bottom: 15px;
}
.label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-size: 25px;
}

select {
  width: 608px;
  height: 30px;
  border-radius: 0.5em;
  background-color: transparent;
}
.flex {
  display: flex;
  align-items: center;
}

input {
  width: 600px;
  height: 25px;
  border-radius: 0.25em;
  border: 1px solid gray;
}
textarea {
  margin-top: 10px;
}

.button-position {
  display: flex;
  width: 310px;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 0.6rem;
}
.align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.term {
  width: 200px;
  font-size: 14px;
  display: inline;
}
.inline-block {
  width: 15px;
  display: inline;
}
.align-title {
  text-align: center;
  font-size: 50px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 30px;
  margin-top: 50px;
}
.redes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon-redes {
  font-size: 20px;
  padding: 10px;
}
