html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#300830,#a30f2f);
}

h1{
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formbox{
    border: 1px solid black;
    width:40%;
    position: absolute;
    text-align: center;
    left: 30%;
    background-color: #f0f3f49f;
    border-radius: 25px;
    box-shadow: 1px 1px 10px slategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formbox input[type = "submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: black;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.formbox input[type = "submit"]:hover{
    cursor:pointer;
    box-shadow: 0px 0px 25px #fff;
}

