*{
    padding:0px;
    margin: 0px;
}
.menu{
    
    background: linear-gradient(#300830,#a30f2f);
    align-items: center;
    font-weight: bold;
    padding:20px;
    text-align: center;

}
.menu a{
    text-decoration: none;
    color: white;
    text-decoration-style: none;
    padding: 21px;
}
.menu a.cambio:hover{
    color:#a30f2f;
    background-color:whitesmoke;
}
.menu li{
    list-style: none;
    display: inline-block;
    
}
.login{
    position: absolute;
    right: 55px;
    top: 11px;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 11px;
    text-decoration: none;
    font-weight: bold;
    color: #a30f2f;
}
.login:hover{
    box-shadow: 1px 1px 2px 2px white;
}
a.login:hover{
    text-shadow: 1px 1px 2px;
}
img{
    height: 300px;
}

.section1{
    position: absolute;
    top:112px;
    right: 132px;
    width: 40%;
    color: #C70039;
    font-weight: bold;
    text-shadow: 1px 1px 10px cadetblue;
}

.section2{
    display: flex;
    justify-content: center;
    background:#F0F3F4;
    height: 300px;
    align-items: center;
}
article.tarjeta{
    width: 23%;
    height: 192px;
    margin: 9px;
    padding: 14px;
    color: #C70039;
    background-color: #F0F3F4;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 2px #424242;
    text-shadow: 1px 1px 10px cadetblue;
    font-weight: bold;
    font-size: 0.9em;
    position: relative;
}
.autor{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 190px;
    right: 39%;
    font-weight: normal;
}

.section3{
    position: relative;
}
.imgplaneta{
    width: 30%;
    margin: 20px 100px;
}

section.section3 div > p{
    position: absolute;
    max-width: 500px;
    top: 82px;
    right: 140px;
    font-weight: bold;
    color: #C70039;
    text-shadow: 1px 1px 10px cadetblue;
}
.contfooter{
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    background: linear-gradient(#300830,#a30f2f);
}

.inf{
    width: 30%;
    text-align: center;
    color:cornsilk;
    padding: 20px;
    
}

.inf p{
    margin: 20px;
    text-align: justify;
    font-size: small;
}