
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  background-color: #cccccc;
  border-radius: 0.75em;
}
.form-group {
  margin-bottom: 15px;
}
.label {
  display: inline-block;
  width: 70px;
  text-align: left;
}
select:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}
select {
  width: 205px;
}
.flex{
  display: flex;
  align-items: center;
}

input:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
input {
  width: 200px;
  border: none;
}
textarea{
    margin-top: 10px;
    border: none;
}
textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.button-position {
  display: flex;
  width: 310px;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 0.6rem;
}
.align {
  display: flex;
  justify-content: center;
}
.term{
  width: 200px;
  font-size: 14px;
  display: inline;
}
.inline-block{
  width: 15px;
  display: inline;
}
.video {
  display: flex;
  justify-content: center;
}