
/* Estilos por nombre de etiqueta */
/*p b { color: green; }
strong { color: hotpink; }
p strong { color: blue; }
p { color: red;}
section { color: lightsalmon; }*/

/* Estilos por ids */
/*#section2 { color: blue; }
#section2 p { color: sienna; }
#section2 b { color: red; }*/

/* Estilos con clases */
/*
.titulo1 {
    color: skyblue;
    font-size: 45px;
}

.subtitulo {
    color: springgreen;
    font-size: 35px;
}

.textoNaranja {
    color: orange;
}
*/
.rojoGrande {
    color: red;
    font-size: 22px;
}