p { color: green;}
h2 { color: red;}
p strong { color: yellow; }
section p { color: blue; }
section p strong { color: brown; }

.mas-grande {
    font-size: 45px;
}

.titulo-naranja {
    color: orange;
}

#section3 h2 { color: purple;}

h3 span { color: red; }

.lista-titulo {
    font-size: 35px;
    color: blue;
}

.lista-subtitulo {
    font-size: 25px;
    color: green;
}

.lista-item-rojo {
    color: red;
}

.lista-item-azul {
    color: blue;
}

ol {
    color: #00ff00;
}