nav a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
nav li {
  display: inline-block;
  width: 10%;
  padding: 5px 10px;
  text-align: center;
  color: #000;
}
nav li:hover {
  background-color: #fff;
}
section{
    display: flex;
    justify-content: space-around;
}
footer{
    display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}
